.loginTitulo {
    margin-bottom: 32px;
  }
  
  .loginContainer {
    width: 100%;
    max-width: 480px;  
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 64px;
    padding: 16px;
  }
  
  .loginBotao {
    display: flex;
    justify-content: space-between;
  }

  .linkEstilizado {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold;
  }

  .linkEstilizado:hover {
    color: darkblue;
  }