.inputConteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputEtiqueta {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputId input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputId input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.inputId select {
  width: 50%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; 
  background-color: #fff;
  cursor: pointer;
}


.inputId select::-ms-expand {
  display: none; 
}

.inputId select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
